/* Your custom CSS here */

body {
	background-color: #C8102E;
	color: #ffffff;
}

.committee-photo{
	width: 100%;
	border-radius: 50px;
}

.committee-member {
	display: flex;
	flex-direction: column;
	border-top: 1px solid white;
	padding: 15px 0;
}

.committee-member:first-of-type {
	margin-top: 30px;
}

.committee-text,
.committee-member-photo {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.committee-member-photo img {
	width: 60%;
	height: auto;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


@media (min-width: 550px) {
	.committee-member {
		flex-direction: row;
	}

	.committee-text,
	.committee-member-photo {
		margin: 15px 0;
	}

	.committee-member-photo {
		flex: 0 0 33.333%;
	}
	
	.committee-member-photo img {
		width: 100%;
	}

	.committee-text {
		flex: 1 1 66.666%;
		padding-left: 30px;
	}

	.committee-member:nth-of-type(even) .committee-text{
		order: -1;
		padding-left: 0;
		padding-right: 30px;
	}
}

@media (min-width: 768px) {
	.committee-text,
	.committee-member-photo {
		flex: 1 0 50%;
	}
}

h1, h2 {
	text-align: center;
}
