/* Your custom CSS here */

#committee-member{
	width:100%;
	overflow: auto;
	position: relative;
}

#committee-photo-left{
	max-height: 100%;
	width: auto;
	height: 100%;
	max-width:20%;
	float:left;
	padding: 20px;
}

#committee-photo-right{
	max-height: 100%;
	width: auto;
	height: 100%;
	max-width:20%;
	float:right;
	padding: 20px;
}

.committee-member-photo{
	width: 100%;
	height: auto;
	border-radius: 50%;
}

h1{
	width:40%;
	float:left;
}

h2{
	width:40%;
	float:left;
	text-align: right;
	padding:10px;
}
