/* Your custom CSS here */

.page-filling{
	max-height: 100%;
	width:100%;
}

.banner{
	width: 100%;
	height: auto;
}

.icon{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
}

.iframe-rwd  {
padding-bottom: 80%;
height: 0;
overflow: hidden;
}
